body { font-family:sans-serif; border: 0; margin:0; background-color:#F0F0F0; }

.TopError { margin:30px; }

#content { width:100vw; height:100vh; }
.Content, .initial-loading, .LargestPossibleCanvas { display:flex; align-items:center; justify-content:center; width:100vw; height:100vh; }

.Controls { position:fixed; left:10px; top:10px; background-color:#FFFFFF90; padding:5px; }
